<div class="confirm-dialog-container">
    <div class="content-container">
        <mat-icon id="close-icon" (click)="oncdclose()">close</mat-icon>
        <span class="content-span full-width">{{data.message}}<br>
        Do you want to save the record.</span>
    </div>
    <button mat-flat-button id="yes-button"  [mat-dialog-close]="true"><strong>yes</strong></button>
   <button mat-flat-button id="no-button" [mat-dialog-close]="false"><strong>No,close</strong></button>
   <button mat-flat-button id="cancel-button" (click)="oncdclose()"><strong>Cancel</strong></button>
</div>