<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="assets/img/54193bde50f6872bb613efbeaf9367c7.jpg">
        </div>
    </div>
    <div class="row justify-content-center"><div class="col"><span class="content-span full-width">{{data.message}}
    </span></div></div>
        <div class="row justify-content-center">
            <div class="col-5">
                <button  class="btn btn-primary btn-lg"  [mat-dialog-close]="true"><strong>yes</strong></button>
            </div>
            <div class="col-5">
                <button  class="btn btn-danger btn-lg" [mat-dialog-close]="false"><strong>No</strong></button>
            </div>
        </div>
</div>