  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
    position: static; overflow-y:auto
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}
.appmatcard {
    border: none;
    outline: none;
    color: rgb(124, 27, 221);
    padding: 20px;
}
#sidenavContainer {
    margin-top: 55px;
    scroll-padding-bottom: disabled;
}

#sidenav {
    width: 240px;
}

#sidenav.menu-close {
    width: 70px;
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}

#sidenav .menu-item:hover {
  background: rgb(128, 126, 230);
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
     
}

.dash-list h3 {
    padding: 12px;
}
button {
    outline: none;
}